.visual-arts-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.page-description {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
}


.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.dark-mode .visual-arts-container {
  color: #e5e7eb;
}

.dark-mode .project-card {
  background-color: #2a2a2a;
  border: 2px solid #3a3a3a;
}

.dark-mode .project-card:hover {
  box-shadow: 0 15px 25px -5px rgba(255, 255, 255, 0.1), 0 10px 10px -5px rgba(255, 255, 255, 0.04);
}
.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.tag {
  background-color: #e5e7eb;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  color: #374151;
}

.dark-mode .tag {
  background-color: #374151;
  color: #e5e7eb;
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .project-card {
    max-width: 80%;
  }
}

@media  (max-width : 200px) {
  .project-card {
    max-width: 50%;
  }
}

@media (max-width: 400px) {
  .project-card {
    max-width: 70%;
  }
}