#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.headshot {
  width: 150px;
  height: 150px;
  border-radius: 15%;
}

.grey-link {
  color: grey;
}

.black-link {
  color: #242424;
}

.dark-mode .black-link {
  color: white;
}

.hover-info {
  z-index: 1;
  position: absolute;
  background-color: white;
  border-color: #242424;
  left: 80%;
  top: 0;
  width: 500px;
}

.dark-mode .hover-info {
  background-color: #242424;
  border-color: grey;
  color: 242424;
}
