.grid {
  margin-top: 10vh;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.border {
  border: 2px solid #e5e7eb;

}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.text-blue-500 {
  color: #3b82f6;
}

.hover\:underline:hover {
  text-decoration: underline;
}

.card-text-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #3b82f6;
  border-radius: 0.25rem;
  background-color: #3b82f6;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: white;
  color: #3b82f6;
}

.card-content {
  margin-bottom: 1rem;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 500px;
  width: 100%;
}

.dark-mode .card {
  background-color: #2a2a2a;
  border: 2px solid #3a3a3a;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.page-title {
  margin-top: 20vh;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .project-card {
    max-width: 80%;
  }
}

@media  (max-width : 200px) {
    .project-card {
      max-width: 20%;
    }
}

@media (max-width: 400px) {
  .project-card {
    max-width: 40%;
  }
  .page-title {
    margin-top: 20vh;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
}